body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #12343b; */
  /* background-color: #101357; */
  /* background-color: #447AA2; */
  /* background-color:#d2dae2 ; */
}